/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #212529;
  color: white;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  border: 1px solid #ff9999;
  padding: 10px;
  /* Add more styling properties as needed */
}
.products-alerts {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-alert {
  background-color: rgba(220, 128, 1, 0.16);
  color: #ffb103;
  transition: 0.5s;
  cursor: pointer;
  max-width: 400px;
}

.alerta {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(220, 128, 1, 0.16);
  color: #ffb103;
  transition: 0.5s;
  cursor: pointer;
}

.notice {
  background-color: rgba(7, 149, 66, 0.12156862745098039);
  color: #0ad406;
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notice:hover {
  background-color: rgba(7, 149, 66, 0.35);
  transition: 0.5s;
}

.btn-info {
  color: #fff;
}
.btn-info:hover {
  color: #fff;
}
.btn-warning {
  color: #fff;
}
.btn-warning:hover {
  color: #fff;
}

.login-form-padding {
  > div {
    padding-bottom: 15px;
  }
}

img {
  object-fit: cover;
}
